<template>
  <v-dialog
    persistent
    no-click-animation
    fullscreen
    transition="scroll-y-transition"
    :value="$route.name === 'items-id-edit'"
  >
    <v-form v-model="valid" ref="form" @submit.prevent="saveItem">
      <v-card :loading="loading" flat>
        <v-card-title class="grey lighten-4"> Edit Item </v-card-title>
        <v-container>
          <v-text-field
            filled
            class="input"
            v-model="itemClone.name"
            label="Name"
            type="text"
            :rules="[(val) => !!val]"
            placeholder="Name..."
          />
          <v-textarea
            filled
            label="Description"
            class="input"
            v-model="itemClone.description"
            type="text"
            placeholder="a very thoughtful description..."
          />
        </v-container>

        <v-card-actions>
          <v-btn :loading="deleteLoading" color="red" text @click="deleteItem">
            Delete
          </v-btn>
          <v-spacer></v-spacer>
          <v-btn nuxt to="/items" exact text color="primary">Cancel</v-btn>
          <v-btn
            :loading="loading"
            color="primary"
            :disabled="!valid"
            type="submit"
            >Save</v-btn
          >
        </v-card-actions>
      </v-card>
    </v-form>
  </v-dialog>
</template>

<script>
export default {
  data() {
    return {
      valid: false,
      item: {},
      itemClone: {},
      loading: false,
      deleteLoading: false,
    }
  },
  async activated() {
    window.addEventListener('keyup', this.listener)

    if (this.$store.state.items.items.length) {
      this.item = this.$store.state.items.items.find(
        (item) => item.uid === this.$route.params.id
      )
      this.itemClone = { ...this.item }
    } else {
      this.loading = true
      try {
        const itemRef = this.$fire.firestore
          .collection('items')
          .doc(this.$route.params.id)
        const itemDoc = await itemRef.get()
        const itemData = itemDoc.data()
        const itemClone = { ...itemData }
        this.item = itemData
        this.itemClone = itemClone
      } finally {
        this.loading = false
      }
    }
  },
  deactivated() {
    this.$refs.form.reset()
    window.removeEventListener('keyup', this.listener)
  },
  methods: {
    listener(event) {
      if (event.key.toLowerCase() === 'escape') {
        this.$router.push('/items')
      }
    },
    async deleteItem() {
      this.deleteLoading = true
      try {
        await this.$fire.firestore
          .collection('items')
          .doc(this.item.uid)
          .delete()
        this.$router.push('/items')
      } finally {
        this.deleteLoading = false
      }
    },
    async saveItem() {
      this.loading = true
      try {
        if (!this.$refs.form.validate()) {
          return
        }
        await this.$fire.firestore
          .collection('items')
          .doc(this.item.uid)
          .set({
            ...this.itemClone,
            name: this.itemClone.name,
            description: this.itemClone.description,
          })
        this.$router.push('/items')
      } catch (err) {
        console.error(err)
      } finally {
        this.loading = false
      }
    },
  },
  middleware: 'auth',
}
</script>
