<template>
  <v-card tile>
    <v-card-title class="grey lighten-4"> Edit Item </v-card-title>
    <v-container>
      <v-text-field
        filled
        class="input"
        v-model="item.name"
        label="Name"
        type="text"
        placeholder="Name..."
      />
      <v-textarea
        filled
        label="Description"
        class="input"
        v-model="item.description"
        type="text"
        placeholder="a very thoughtful description..."
      />
    </v-container>

    <v-card-actions>
      <v-btn color="red" text @click="deleteItem"> Delete </v-btn>
      <v-spacer></v-spacer>
      <v-btn color="primary" @click="saveItem">Save</v-btn>
      <v-btn text color="primary" @click="cancelItem">Cancel</v-btn>
    </v-card-actions>
  </v-card>
</template>

<script>
export default {
  props: {
    item: {},
  },
  methods: {
    cancelItem() {
      this.$emit('cancel')
    },
    async deleteItem() {
      this.$fire.firestore.collection('items').doc(this.item.uid).delete()
      this.$emit('cancel')
    },
    saveItem() {
      try {
        if (!this.item.name) {
          return
        }
        this.$emit('saved')
        this.$fire.firestore
          .collection('items')
          .doc(this.item.uid)
          .set({
            ...this.item,
            name: this.item.name,
            description: this.item.description,
          })
      } catch (err) {
        console.error(err)
      }
    },
  },
}
</script>
