<template>
  <v-btn @click="loginWithGoogle" color="white">
    <img class="pr-2" src="~assets/svg/google.svg" alt="google logo" />
    Log In with Google
  </v-btn>
</template>

<script>
export default {
  methods: {
    async loginWithGoogle() {
      try {
        this.$store.dispatch('loginWithGoogle')
      } catch (err) {
        console.error(err)
      }
    },
  },
}
</script>