<template>
  <v-list color="transparent" subheader>
    <v-btn
      large
      width="100%"
      depressed
      class="black--text transparent"
      @click="completeAll"
    >
      <v-icon left>mdi-check</v-icon>Complete All
    </v-btn>
    <!-- <v-list-item-group color="primary" :value="completedItems"> -->
    <v-slide-x-transition group>
      <Item
        v-for="item in items"
        :item="item"
        :user="getUser(item)"
        :key="item.uid"
        :input-value="item.completed"
        color="primary"
        @check="updateItem({ ...item, completed: !item.completed })"
      />
    </v-slide-x-transition>
    <!-- </v-list-item-group> -->
    <v-slide-y-reverse-transition>
      <v-btn
        v-if="completedItems.length > 0"
        width="100%"
        depressed
        text
        color="error"
        @click="deleteCompleted"
      >
        <v-icon left>mdi-delete</v-icon>Delete Completed
      </v-btn>
    </v-slide-y-reverse-transition>
  </v-list>
</template>

<script>
import { mapGetters } from 'vuex'
export default {
  data() {
    return {}
  },
  computed: {
    ...mapGetters('items', ['items', 'completedItems']),
    ...mapGetters('users', ['users']),
  },
  methods: {
    async updateItem(item) {
      const ref = this.$fire.firestore.collection('items').doc(item.uid)
      await ref.update({ completed: item.completed })
    },
    async completeAll() {
      const query = await this.$fire.firestore
        .collection('items')
        .where('completed', '==', false)
        .get()
      if (!query.empty) {
        query.forEach((doc) => {
          doc.ref.update({ completed: true })
        })
      }
    },
    async deleteCompleted() {
      const query = await this.$fire.firestore
        .collection('items')
        .where('completed', '==', true)
        .get()
      if (!query.empty) {
        query.forEach((doc) => {
          doc.ref.delete()
        })
      }
    },
    getUser(item) {
      return this.users.find((user) => user.uid === item.userId) || ''
    },
  },
}
</script>
