<template>
  <v-list-item
    v-on="$listeners"
    v-bind="$attrs"
    v-touch="{ left: touchLeft }"
    @click="$router.push(`/items/${item.uid}/edit`)"
  >
    <template #default="{ active }">
      <v-list-item-avatar>
        <v-img :src="user.photoURL"> </v-img>
      </v-list-item-avatar>
      <v-list-item-content>
        <v-list-item-title
          :style="{ textDecoration: active ? 'line-through' : '' }"
        >
          {{ item.name }}
        </v-list-item-title>
        <v-list-item-subtitle>
          {{ item.description }}
        </v-list-item-subtitle>
        <v-list-item-subtitle>
          {{ user.displayName }}
        </v-list-item-subtitle>
      </v-list-item-content>
      <v-list-item-action>
        <v-checkbox
          @click.stop="$emit('check')"
          :input-value="item.completed"
        ></v-checkbox>
      </v-list-item-action>
    </template>
  </v-list-item>
</template>

<script>
let delay = null
export default {
  props: {
    item: {},
    user: {},
  },
  methods: {
    async touchLeft(data) {
      const ref = this.$fire.firestore.collection('items').doc(this.item.uid)
      await ref.delete()
    },
  },
}
</script>

<style scoped>
.item {
  align-items: center;
  align-self: center;
  display: flex;
  flex-wrap: wrap;
  flex: 1 1;
  overflow: hidden;
  padding: 12px 0;
  text-decoration: none;
}
</style>