<template>
  <div v-if="show" class="absolute blur w-screen h-screen top-0 left-0">
    <slot></slot>
  </div>
</template>

<script>
export default {
  props: {
    show: false,
  },
}
</script>

<style lang="scss" scoped></style>
