<template>
  <v-dialog
    persistent
    no-click-animation
    transition="scroll-y-transition"
    fullscreen
    :value="$route.name === 'items-add'"
  >
    <v-form v-model="valid" ref="form" @submit.prevent="addItem">
      <v-card flat>
        <v-card-title class="grey lighten-4">Add Item</v-card-title>
        <v-container>
          <v-text-field
            autofocus
            filled
            class="input"
            v-model="name"
            label="Name *"
            type="text"
            placeholder="Name..."
            :rules="[(val) => !!val]"
            aria-required
          />
          <v-textarea
            filled
            label="Description"
            class="input"
            v-model="description"
            type="text"
            placeholder="a very thoughtful description..."
          />
        </v-container>

        <v-card-actions>
          <v-spacer></v-spacer>
          <v-btn nuxt to="/items" exact text color="primary">Cancel</v-btn>
          <v-btn
            color="primary"
            :disabled="!valid"
            :loading="loading"
            type="submit"
            >Add</v-btn
          >
        </v-card-actions>
      </v-card>
    </v-form>
  </v-dialog>
</template>

<script>
import { v4 as uuid } from 'uuid'
export default {
  // layout: 'fullscreen',
  // transition: 'scroll-y-transition',
  data() {
    return {
      name: '',
      description: '',
      valid: false,
      loading: false,
    }
  },
  activated() {
    this.$refs.form.reset()
    window.addEventListener('keyup', this.listener)
  },
  deactivated() {
    this.$refs.form.reset()
    window.removeEventListener('keyup', this.listener)
  },
  methods: {
    listener(event) {
      if (event.key.toLowerCase() === 'escape') {
        this.$router.push('/items')
      }
    },
    async addItem() {
      this.loading = true
      try {
        if (!this.$refs.form.validate()) {
          return
        }
        const uid = uuid()
        await this.$fire.firestore.collection('items').doc(uid).set({
          name: this.name,
          description: this.description,
          userId: this.$store.state.user.uid,
          completed: false,
          created: Date.now(),
          uid,
        })
        this.loading = false
        this.$router.push('/items')
      } catch (err) {
        console.error(err)
        this.$store.showError = true
        this.$store.errorMsg = err
      } finally {
        this.$refs.form.resetValidation()
        this.loading = false
      }
    },
  },
  middleware: 'auth',
}
</script>
