<template>
  <div>
    <v-overlay :value="loading">
      <div class="d-flex align-center flex-column">
        <v-card-title>Loading...</v-card-title>
        <v-progress-circular
          size="124"
          width="3"
          color="primary lighten-1"
          indeterminate
        ></v-progress-circular>
      </div>
    </v-overlay>
    <ItemsList />
    <v-btn
      nuxt
      to="/items/add"
      fixed
      large
      bottom
      right
      fab
      color="secondary lighten-1"
      class="black--text"
    >
      <v-icon>mdi-plus</v-icon>
    </v-btn>
    <!-- <nuxt-child /> -->
  </div>
</template>

<script>
export default {
  data() {
    return {
      loading: false,
      itemName: '',
      showAddModal: false,
      users: [],
    }
  },
  activated() {
    window.addEventListener('keyup', this.listener)
  },
  deactivated() {
    window.removeEventListener('keyup', this.listener)
  },
  methods: {
    listener(event) {
      if (
        event.key.toLowerCase() === 'enter' ||
        event.key.toLowerCase() === 'a'
      ) {
        this.$router.push('/items/add')
      }
    },
    addItem() {
      this.showAddModal = true
    },
    cancelAdd() {
      this.showAddModal = false
    },

    saveAdd() {
      try {
        this.showAddModal = false
      } catch (err) {
        console.error(err)
      }
    },
  },
  middleware: 'auth',
}
</script>
