<template>
  <v-app>
    <v-app-bar elevation="2" color="primary white--text" app>
      <v-app-bar-nav-icon @click="toggleMenu">
        <v-icon color="white">mdi-menu</v-icon>
      </v-app-bar-nav-icon>
      <v-toolbar-title>
        <nuxt-link
          class="white--text"
          style="text-decoration: none; width: 100%"
          to="/"
        >
          Shopping List
        </nuxt-link>
      </v-toolbar-title>
    </v-app-bar>
    <v-navigation-drawer app left v-model="showMenu">
      <v-list nav>
        <v-list-item
          color="primary"
          :to="link.to"
          v-for="(link, i) in links"
          :key="i"
          nuxt
        >
          <template #default="{ active }">
            <v-list-item-icon>
              <v-icon :color="active ? 'primary' : ''">{{ link.icon }}</v-icon>
            </v-list-item-icon>
            <v-list-item-content>
              <v-list-item-title>{{ link.name }}</v-list-item-title>
            </v-list-item-content>
          </template>
        </v-list-item>
      </v-list>
    </v-navigation-drawer>

    <v-main>
      <Nuxt />
    </v-main>
    <v-snackbar style="z-index: 9999" top center :value="$store.state.showError"
      >{{ $store.state.errorMsg }}
      <template #action="{ attrs }">
        <v-btn
          v-if="$store.state.btn.text"
          text
          color="primary"
          v-bind="attrs"
          @click="$store.state.btn.fn"
        >
          {{ $store.state.btn.text }}
        </v-btn>
      </template>
    </v-snackbar>
  </v-app>
</template>

<script>
import { mapGetters } from 'vuex'
export default {
  computed: {
    ...mapGetters(['snackbar']),
    activeRoute() {
      const path = this.$nuxt.$route.path
      return this.links.findIndex((link) => link.to === path)
    },
    links() {
      if (this.$store.state.user.uid) {
        return [
          { name: 'Shopping List', icon: 'mdi-cart-outline', to: '/items' },
          {
            name: 'Profile',
            icon: 'mdi-account-outline',
            to: '/profile',
          },
          {
            name: 'Log out',
            icon: 'mdi-logout',
            to: '/logout',
          },
        ]
      } else
        return [
          {
            name: 'Register',
            icon: 'mdi-account-plus-outline',
            to: '/register',
          },
          { name: 'Log In', icon: 'mdi-login', to: '/login' },
        ]
    },
  },
  data() {
    return {
      showMenu: false,
    }
  },
  methods: {
    toggleMenu() {
      this.showMenu = !this.showMenu
    },
    async navigate(link) {
      if (link.fn) {
        await link.fn(this.$fireModule.auth())
      }
      link.to && this.$router.push(link.to)
      this.showMenu = false
    },
  },
}
</script>

<style>
button {
  outline: none !important;
}

html {
  box-sizing: border-box;
}

.blur {
  backdrop-filter: blur(4px);
  background: rgba(0, 0, 0, 0.3);
}

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
}
</style>
