<template>
  <v-container>
    <v-snackbar top center v-model="showError">{{ errorMsg }}</v-snackbar>
    <v-row>
      <v-col>
        <v-toolbar-title class="mb-4 primary--text">Login</v-toolbar-title>
        <v-text-field
          color="primary"
          required
          v-model="email"
          label="Email"
          shaped
          filled
          type="email"
          placeholder="email@email.com"
        ></v-text-field>

        <v-text-field
          required
          v-model="password"
          shaped
          filled
          label="Password"
          type="password"
          placeholder="password"
        ></v-text-field>
        <div class="d-flex align-center">
          <v-btn color="primary" @click="login">Log In</v-btn>
          <span class="ma-4">or</span>
          <nuxt-link to="/register">
            <b>Sign Up</b>
          </nuxt-link>
        </div>
        <GoogleLogin />
      </v-col>
    </v-row>
  </v-container>
</template>

<script>
export default {
  data() {
    return {
      email: '',
      password: '',
      errorMsg: '',
      showError: false,
    }
  },
  methods: {
    async login() {
      try {
        const { email, password } = this
        await this.$fireModule
          .auth()
          .signInWithEmailAndPassword(email, password)
        window.location.reload()
      } catch (err) {
        console.error(err)
        this.showError = true
        this.errorMsg = err
        setTimeout(() => {
          this.showError = false
          this.errorMsg = ''
        }, 4000)
      }
    },
  },
  middleware: 'loggedin',
}
</script>
