<template>
  <v-container>
    <v-list-item>
      <v-list-item-avatar>
        <v-img :src="user.photoURL" />
      </v-list-item-avatar>
      <v-list-item-content>
        <v-list-item-title>{{ user.email }}</v-list-item-title>
        <v-list-item-subtitle>{{ user.displayName }}</v-list-item-subtitle>
      </v-list-item-content>
    </v-list-item>
    <v-list>
      <v-subheader>Your Items</v-subheader>
      <template v-for="item in items">
        <v-divider></v-divider>
        <v-list-item nuxt :to="`/items/${item.uid}/edit`" :key="item.uid">
          <v-list-item-content>
            <v-list-item-title>
              {{ item.name }}
            </v-list-item-title>
            <v-list-item-title>
              {{ item.description }}
            </v-list-item-title>
          </v-list-item-content>
        </v-list-item>
      </template>
    </v-list>
  </v-container>
</template>

<script>
export default {
  computed: {
    user() {
      return this.$store.state.user
    },
    items() {
      return this.$store.state.items.items.filter(
        (item) => item.userId === this.user.uid
      )
    },
  },
  middleware: 'auth',
}
</script>

<style lang="scss" scoped></style>
