<template>
  <v-container>
    <v-snackbar v-model="showError">
      {{ errorMsg }}
    </v-snackbar>
    <v-row>
      <v-col>
        <v-toolbar-title class="mb-4 primary--text"> Sign up </v-toolbar-title>
        <v-text-field
          required
          filled
          shaped
          label="Email"
          v-model="email"
          type="email"
          placeholder="email@email.com"
        />
        <!-- <v-text-field
          required
          filled
          shaped
          label="Username"
          v-model="username"
          type="text"
          placeholder="username"
        /> -->
        <v-text-field
          required
          filled
          shaped
          label="Password"
          v-model="password"
          type="password"
          placeholder="password"
        />
        <div class="d-flex align-center">
          <v-btn color="primary" @click="register"> Sign Up </v-btn>
          <span class="ma-4"> or </span>
          <nuxt-link to="/login">
            <b> Log In </b>
          </nuxt-link>
        </div>
        <GoogleLogin />
      </v-col>
    </v-row>
  </v-container>
</template>

<script>
export default {
  data() {
    return {
      email: '',
      username: '',
      password: '',
      errorMsg: '',
      showError: false,
    }
  },
  methods: {
    async register() {
      try {
        const response = await this.$fireModule
          .auth()
          .createUserWithEmailAndPassword(this.email, this.password)
        const { displayName, photoURL = '', email, uid } = response.user
        this.$fire.firestore
          .collection('users')
          .doc(uid)
          .set({ displayName, photoURL, email, uid })
        this.$router.push('/items')
      } catch (err) {
        console.error(err)
        this.showError = true
        this.errorMsg = err
        setTimeout(() => {
          this.showError = false
          this.errorMsg = ''
        }, 4000)
      }
    },
  },
  middleware: 'loggedin',
}
</script>
